a {
    text-decoration: none;
}
nav ul li a {
    font-size: 1.7rem;
    filter: alpha(opacity=50);
    color: white;
}
nav ul li a:hover,
nav ul li a:focus

{
    color: red;
}

nav{
    width: 100%;
}

nav ul{
    text-align: center;
    margin: 0 0 0 0;
    padding-left: 0;
    color: #001a72;
}

nav ul li{
    list-styles-type: none;
    width: 16.6666666666666666666666666667%;
    background: #001a72;
    float: left;
}

